.titulo {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
  color: #00ffcc;
  text-shadow:
    0 0 10px #00ffcc,
    0 0 20px #00ffcc,
    0 0 30px #00ffcc;
}

.contForm {
  background: rgba(255, 255, 255, 0.1);
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.5);
  border: 1px solid #00ffcc;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.conten-proveedor,
.conten-compra {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.unidad-input {
  flex: 1 1 calc(50% - 1em);
  min-width: 200px;
}

label {
  display: block;
  margin-bottom: 0.5em;
  color: #00ffcc;
}

.prov {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1.5em;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2); /* Fondo similar a los inputs */
  color: #ffffff;
  box-shadow: inset 0 0 5px rgba(0, 255, 204, 0.5);
  appearance: none; /* Elimina el estilo nativo del navegador */
  cursor: pointer;
}

/* Cuando el select está enfocado */
.prov:focus {
  outline: none;
  box-shadow:
    0 0 10px #00ffcc,
    0 0 20px #00ffcc,
    0 0 30px #00ffcc;
}

/* Estilizar las opciones dentro del desplegable */
.prov option {
  background: #0f2027; /* Fondo oscuro para las opciones */
  color: #ffffff; /* Color del texto */
}

/* Cuando pasas el mouse sobre una opción */
.prov option:hover {
  background: #00ffcc; /* Resalta la opción */
  color: #0f2027;
}

input[type='text'] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  box-shadow: inset 0 0 5px rgba(0, 255, 204, 0.5);
}

input[type='text']:focus {
  outline: none;
  box-shadow:
    0 0 10px #00ffcc,
    0 0 20px #00ffcc,
    0 0 30px #00ffcc;
}

.unidad_boton {
  display: flex;
  justify-content: space-around;
}

.unidad_boton button {
  width: 20em;
  padding: 0.75em;
  border: none;
  border-radius: 5px;
  background: #00ffcc;
  color: #0f2027;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

.unidad_boton button:hover {
  background: #00e6b8;
}
